pytest-runner
wheel
pytest
pyyaml

villas-dataprocessing>=0.2.5
progressbar2

ipywidgets
jupyter
jupyter_client
jupyter_contrib_nbextensions
jupyterlab_widgets

nbconvert
nbformat
connexion[swagger-ui] >= 2.6.0; python_version>="3.6"
swagger-ui-bundle >= 0.0.2
python_dateutil >= 2.6.0
setuptools >= 21.0.0
flask_testing >= 0.8.0
git+https://git.rwth-aachen.de/acs/public/cim/cimpy@master#egg=cimpy

redis
